@import '../_variables';

.cart__clear{
    border: none;
    background: inherit;
}

.pay-btn button{
    border: none;
    background: transparent;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}