@import '../_variables';

.categories {
  @media(max-width: 992px) {
    width: 100%;
  }

  ul {
    display: flex;

    li {
      background-color: $gray-500;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken($gray-500, 2%);
      }

      &:active {
        background-color: darken($gray-500, 5%);
      }

      &.active {
        background-color: $black-200;
        color: $white;
      }
    }
  }
}