$black: #232323;
$black-200: #282828;

$gray-line: #f6f6f6;
$gray: #b6b6b6;
$gray-300: #8d8d8d;
$gray-400: #777777;
$gray-500: #f9f9f9;
$gray-600: rgba(255, 255, 255, 0.25);

$orange: #fe5f1e;
$orange-dark: #a53103;
$white: #fff;

$background: #ffdf8c;
$container-width: 90%;

$duration: 0.15s;